---
http_interactions:
- request:
    method: get
    uri: https://fakerapi.it/api/v1/companies?_quantity=200&_seed=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","code":200,"total":8,"data":[{"name":"Stamm, Prohaska
        and Stehr","email":"onie.bruen@hotmail.com","vat":"5146744297","phone":"+9814138416082","country":"New
        Caledonia","addresses":[{"street":"593 Marks Mission Apt. 320","streetName":"Crist
        Falls","buildingNumber":"23754","city":"Denabury","zipcode":"18702-1529","country":"Kuwait","county_code":"NZ","latitude":65.314388,"longitude":-0.51798},{"street":"3184
        Rippin Crossing Apt. 500","streetName":"Rickey Cliff","buildingNumber":"75052","city":"Lake
        Sharonton","zipcode":"12715","country":"Lebanon","county_code":"MQ","latitude":-12.474792,"longitude":-98.635679},{"street":"27674
        Heidenreich Stream","streetName":"Murazik Fall","buildingNumber":"4640","city":"Lake
        Madisen","zipcode":"38464-9841","country":"Senegal","county_code":"ZA","latitude":-14.818351,"longitude":-136.985472}],"website":"http:\/\/senger.com","image":"http:\/\/placeimg.com\/640\/480\/people","contact":{"firstname":"Leonor","lastname":"Rutherford","email":"idella.bergstrom@towne.com","phone":"+2970580314493","birthday":"1994-09-24","gender":"female","address":{"street":"52393
        Willms Glens Suite 471","streetName":"Deon Canyon","buildingNumber":"79831","city":"Kaelynhaven","zipcode":"55363","country":"Russian
        Federation","county_code":"IQ","latitude":-20.359821,"longitude":-38.184015},"website":"http:\/\/cummerata.org","image":"http:\/\/placeimg.com\/640\/480\/people"}},{"name":"Larkin
        Ltd","email":"cyrus10@yahoo.com","vat":"857657809","phone":"+1977633390540","country":"Hong
        Kong","addresses":[{"street":"1728 Ofelia Fre[...]
